#slider { 
     margin:    10px;
     width:     300px;
     height:    10px;
     position:  absolute;
    }
#input  { 
     font-size: 13px; 
    }
#canvasdiv {
	 width:    300px;
	 height:   300px;
	 position: absolute;
	 left:     10px;
	 top:      30px;
	}
#scriptdiv {
	 width:    99%;
	 height:   200px;
	 position: absolute;
	 left:     0.5%;
	 bottom:   10px;
	}
#script {
	 height: 100%;
	 width:  100%;
	}
	
	
#trigger {
     height: 30px;
     width:  30px;
     background-color: #00EECC;
    }
#palette {
     position:absolute;
     left:0px;
     top:0px;
     width:200px;
    }
#colorslide {
     position:absolute;
     left:200px;
     top:0px;
    }
